{% extends 'base.html' %}
{% load staticfiles %}

{% block page_head %}
	<h1>Call for paper</h1>
{% endblock %}
{% block content %}
<h6 class="font_6"><span>&nbsp;</span></h6>
<div id="comp-j1p2wpev" class="s1" >
<h3  style="text-align: justify;">Paper submission</h3>
<p class="font_8" style="text-align: justify;">Authors should submit papers in PDF format through the&nbsp;<a href="https://easychair.org/account/signin.cgi?key=72422240.FwA7l4OVwoC5QazY">Easychair system</a>.</span></p>
<p class="font_8" style="text-align: justify;">The total length of a paper should not exceed 10 pages&nbsp;<span>(including tables, figures, and references)&nbsp;</span>and <span>formatted according to Springer LNCS style</span>.&nbsp;</span>LNCS style template&nbsp;</span>can be&nbsp;</span>downloaded <a href="https://www.springer.com/gp/computer-science/lncs/conference-proceedings-guidelines">here</a>.</span></p>
<p class="font_8" style="text-align: justify;">Submitted papers should describe, in English, original work that has not been published or submitted for publication elsewhere. Papers will be refereed and accepted on the basis of their scientific merit, relevance, clarity of presentation, and correctness to the workshop.</span></p>
<h3 style="text-align: justify;">Publication&nbsp;</h3>
</div>
<div id="comp-j1p2wpex" class="s1">
<p class="font_4" style="text-align: justify;">Proceedings shall be submitted to CEUR-WS.org for on-line publication and indexed in DBLP.&nbsp;</span></p>
</div>
<div id="important_dates" class="s1" >
<h3 >Important Dates</h3>
</div>
<div id="table_dates" class="table-responsive-md">
<table class="table">
<thead>
    <tr class="table-active">
      <th scope="col" ><span style="font-size: medium;"><strong>Deadline</strong> </span></th>
      <th scope="col"><span style="font-size: medium;"><strong>Date</strong> </span></th>
    </tr>
  </thead>
 <tbody>
<tr>
<td><span style="font-size: medium; color: #ff0000;"><strong>Paper submission deadline</strong> </span>
<td><span style="font-size: medium; color: #ff0000;"><strong>08/07/2018</td>
</tr>
<tr class="table-active">
	<td><span style="font-size: medium;"><strong>Author notification</strong> </span>
	<td><span style="font-size: medium;"><strong>04/08/2018</td>
</tr>
<tr>
	<td><span style="font-size: medium;"><strong>Submission for camera-ready</strong></span></td>
	<td> <span style="font-size: medium;"><strong>05/08/2018</td>
</tr>
<tr class="table-active">
	<td><span style="font-size: medium;"><strong>Registration</strong></span></td>
	<td><span style="font-size: medium; "><strong>15/08/2018</td>
</tr>
 </tbody>
</table>
</div>
<p>
  All deadlines are calculated at 11:59pm Pacific Daylight Savings Time (UTC -7h).
  </p>
<div id="comp-j1p2wpf4" class="s1" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.1.1.$SITE_PAGES.$mpitl.1.$comp-j1p2wpch.1.$comp-j1p2wpee/=1$comp-j1p2wpee.1.$comp-j1p2wpeo.1.$comp-j1p2wpf4">
<h4 class="font_4"><span class="color_18" style="font-size: medium;">&nbsp;</span></h4>
</div>

{% endblock %}