{% extends 'base.html' %}
{% load staticfiles %}

{% block page_head %}
	<h1>Committees</h1>
{% endblock %}
{% block content %}
<table class="table table-striped">
<tbody>
<tr>
<td style="border: none;  padding: 0cm 5.4pt 0cm 5.4pt;" valign="top">
<p><span style=" font-size: large;"><strong>General Chair:</strong>
<ul>
  <li><p> Prof. Lamia Hadrich Belguith (ANLP Reserach Group, MIRACL Lab., FSEG, University of Sfax, Tunisia)</p></li>
</ul>
<div id="Organizing_Committee"></div>
<div ><h3>Organizing Committee</h3></div>
<div>
<div>
<p><strong>Chair:</strong> 
<ul>
  <li><p>Maher Jaoua (ANLP Reserach Group, MIRACL Laboratory, FSEGS, University of Sfax, Tunisia)</p></li>
</ul>

</div>
</div>
</td>
</tr>
<tr class="table-light">
<td >
<p><strong>Members:</span></span></strong></p>
<ul>
	<li><p>Seifeddine Mechti (ANLP Reserach Group, MIRACL Lab., Tunisia)(Co-Chair)</p></li>
	<li><p>Mariem Ellouze (ANLP Reserach Group, MIRACL Lab., ESC, University of Sfax, Tunisia)</p></li>
	<li><p>Ahlem Kallel (ENIS, University of Sfax, Tunisia)</p></li>
	<li><p>Samira Ellouze (ANLP Reserach Group, MIRACL Lab., FSEG, University Of Sfax, Tunisia)</p></li>
	<li><p>Khouloud Boukadi (MIRACL Lab., FSEGS, Tunisia)</p></li>
	<li><p>Maryem Elamine (ANLP Research Group, MIRACL Lab., FSEGS,University of Sfax, Tunisia)</p></li>
	<li><p>Mehdi Belguith (MIRACL Lab., FSEGS,University of Sfax, Tunisia)</p></li>

</ul>
</td>
</tr>
<tr>
<td >
<div id="Program_Committee"><h3>Program Committee</h3></div>
<p><strong>Chair: </strong>
<ul>
  <li><p> Prof. Lamia Hadrich Belguith (ANLP Reserach Group, MIRACL Lab, FSEGS, University of Sfax, Tunisia)</p></li>
</ul>

</td>
</tr>
<tr class="table-light">
<td >
<p><strong>Members:</span></span></strong></p>
<ul>
<li><p>Mariem Ellouze (ANLP Reserach Group, MIRACL Laboratory, ESC, University of Sfax, Tunisia) (Co-Chair)</p></li>
<li><p>Chafik Aloulou (ANLP Reserach Group, MIRACL Laboratory, FSEG, University of Sfax, Tunisia)</p></li>
<li><p>Philippe Blache&nbsp;(Laboratoire Parole et Langage, CNRS &amp; Universit&eacute; de Provence)</p></li>
<li><p>Rim Faiz&nbsp;(University of Carthage, IHEC, LARODEC Computer Science,Tunisia)</p></li>
<li><p>Fatiha Sadat&nbsp;(Department of Computer Science, the University of Quebec in Montreal, Montreal, Canada)</p></li>
<li><p>Karim Bouzoubaa&nbsp;(Computer Science Department, EMI, Mohamed Vth Agdal University Morocco)</p></li>
<li><p>Ahmed Hadj Kacem&nbsp;(ReDCAD Lab.,  University of Sfax, Tunisia) </p></li>
<li><p>Kais Haddar&nbsp; (MIRACL Lab., Faculty of Sciences Sfax, University of Sfax Tunisia)</p></li>
<li><p>Hatem Ghorbel&nbsp;(ISIC Lab, HE-Arc&nbsp; Applied Science University&nbsp; CH-2610, Switzerland)</p></li>
<li><p>Faiez Gargouri&nbsp;(MIRACL Lab., ISIMS, University of Sfax, Tunisia)</p></li>
<li><p>Bilel Gargouri (MIRACL Lab., FSEG, University of Sfax, Tunisia)</p></li>
<li><p>Nadia Bouassida (MIRACL Lab., ISIMS, University of Sfax, Tunisia)</p></li>
<li><p>Yannick Est&egrave;ve (LIUM - University of Le Mans -Institut Claude Chappe, France)</p></li>
<li><p>Ikram Ammous (MIRACL Lab., ENET'COM, Tunisia)</p></li>
<li><p>Georges Antoniadis&nbsp;(University&eacute; Grenoble-Alpes-France)</p></li>
<li><p>Maher Jaoua (ANLP Reserach Group, MIRACL Laboratory, FSEG, University of Sfax, Tunisia)</p></li>
<li><p>Hatem Ghorbel (ISIC Lab, HE-Arc  Applied Science University  CH-2610, Switzerland)</p></li>
<li><p>Georges Antoniadis (Université Grenoble-Alpes, France)</p></li>
<li><p>Mohamed Hédi Mâaloul (ANLP Research Group, MIRACL Lab., FSEGS, Tunisia)</p></li>
<li><p>Marwa Graja (ANLP Research Group, MIRACL Lab., FSEGS, Tunisia)</p></li>
<li><p>Mohamed Mahdi Boudabous&nbsp;(MIRACL Lab., FSEG, University Of Sfax, Tunisia)</p></li>
<li><p>Rahma Sallemi  (ANLP Research Group, MIRACL Lab., FSEGS, Tunisia)</p></li>
<li><p>Rahma Boujelbane (ANLP Research Group, MIRACL Lab., FSEGS, Tunisia)</p></li>
<li><p>Younes Bahou (ANLP Research Group, MIRACL Lab., FSEGS, Tunisia)</p></li>
<li><p>Fethi Bougares (LIUM, University Of Le Mans, France)</p></li>
<li><p>Farah Ben Amara (IRIT, University Of Paul Sabatier, Toulouse, France)</p></li>
</ul>
</td>
</tr>
</tbody>
</table>
{% endblock %}
