{% extends 'base.html' %}
{% load staticfiles %}

{% block page_head %}
	<h1>Contact</h1>
{% endblock %}
{% block content %}
                <div id="content">
                    
                    
                    


 <p >For any information please don't hesitate to contact us! </p>                   


<div class="heading1">
  
        <span id="ctl00_pageContent_ctl00_lblSecretariat" style="font-weight:bold;">LPKM Secretariat</span>

</div>
<p>
    <span id="ctl00_pageContent_ctl00_lblAdress">Address: </span>
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="ctl00_pageContent_ctl00_lblAdress2"> Faculty of Economics and Management of Sfax 
	<br />
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="ctl00_pageContent_ctl00_lblAdress2">Airport Road, Km 4 Sfax  -  Tunisia</span>
    
    <br />
    <br />
    <br />
    <span id="ctl00_pageContent_ctl00_lblEmail">E-mail : </span><a href="mailto:lpkm2018@yahoo.com " id="lpkm2018@yahoo.com">lpkm2018@yahoo.com</a><br/>
	

</p>


                </div>
			
				
				
{% endblock %}