{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}
    <p style="text-align: justify;">The 2nd edition of the Language Processing and Knowledge Management conference is organized by the University of Sfax, Tunisia. It will take place this year in Kerkennah island, Tunisia from September 7th to 9th, 2018.</p>
	
	<p>Development of new technologies and various intelligent systems creates new possibilities for intelligent and efficient data processing. Natural Language Processing (NLP) addresses problems of automated understanding, processing, and generation of natural human languages
	</p>
				<p style="text-align: justify;">&nbsp;</span></p>
				<p style="text-align: justify;">This conference provides a venue for presenting innovative research in NLP related, but not restricted, to computational and mathematical modeling, analysis and processing of any forms (spoken, handwritten or text) of human language and knowledge creation and management. The LPKM workshop will provide an opportunity for researchers working in the domains of NLP, Machine Learning and Data Science to discuss present and future challenges as well as potential collaboration for future progress in the field of NLP.</p>
				<p style="text-align: justify;">&nbsp;&nbsp;</p>
{% endblock %}
<!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
    </script>