{% extends 'base.html' %}
{% load staticfiles %}

{% block page_head %}
	<h1>Topics</h1>
{% endblock %}
{% block content %}
    <p><strong>The submitted papers shall cover research and developments in all NLP, Machine Learning and Data Sciences aspects, such as (however this list is not exhaustive):</strong>&nbsp;</p>
<table>
 <thead>
  <tr>
     <th>Natural Language Processing</th>
     <th>Machine Learning and Data Science</th>
  </tr>
 </thead>
	 <tbody>
    <tr>
      <td valign="top"><ul>
<li>
<p>Computational methods applied to language &amp; text processing&nbsp;</p>
</li>
<li>
<p>&nbsp;Text analysis&nbsp;</p>
</li>
<li>
<p>&nbsp;Language networks&nbsp;</p>
</li>
<li>
<p>&nbsp;Text classification&nbsp;</p>
</li>
<li>
<p>&nbsp;Document clustering&nbsp;</p>
</li>
<li>
<p>&nbsp;Various forms of text recognition&nbsp;</p>
</li>
<li>
<p>&nbsp;Machine translation&nbsp;</p>
</li>
<li>
<p>&nbsp;Text-to-speech (TTS) and speech-to-text (STT) methods&nbsp;</p>
</li>
<li>
<p>&nbsp;Authorship identification and verification&nbsp;</p>
</li>
<li>
<p>&nbsp;Author profiling&nbsp;</p>
</li>
<li>
<p>&nbsp;Plagiarism detection&nbsp;</p>
</li>
<li>
<p>&nbsp;Knowledge extraction and retrieval from text and natural language structures&nbsp;</p>
</li>
<li>
<p>&nbsp;Multi-modal and natural language interfaces&nbsp;</p>
</li>
<li>
<p>&nbsp;Sentiment analysis&nbsp;</p>
</li>
<li>
<p>&nbsp;Language-oriented applications and tools&nbsp;</p>
</li>
</ul>
<ul>
<li>
<p>&nbsp;NLP applications in education&nbsp;</p>
</li>
</ul>
<ul>
<li>
<p>&nbsp;Language networks, resources, and corpora&nbsp;</p>
</li>
</ul>
<ul>
<li>
<p>&nbsp;Summarization</p>
</li>
</ul>
<ul>
<li>
<p>&nbsp;Question Answering&nbsp;&nbsp;</p>
</li>
</ul>
<ul>
<li>
<p>&nbsp;Social Media&nbsp;</p>
</li>
</ul>
<ul>
<li>
<p>&nbsp;Text generation&nbsp;</p>
</li>
</ul>
<ul>
<li>
<p>&nbsp;Anaphora resolution&nbsp;</p>
</li>
</ul>
<ul>
<li >
<p>&nbsp;Word sense disambiguation&nbsp;</p>
</li>
</ul>
<ul>
<li>
<p>&nbsp;Recognizing textual entailment&nbsp;</p>
</li>
</ul>
</td>
    
      <td valign="top">
	  <ul>
	  <li>
<p>Data Mining</p>
</li>
<li>
<p>Big Data</p>
</li>
<li>
<p>Statistical Analysis</p>
</li>
<li>
<p>Decision Trees</p>
</li>
<li>
<p>
Knowledge processing</p>
</li>
<li>
<p>
Large Scale Methods</p>
</li>
<li>
<p>
Semantic Web</p>
</li>
<li>
<p>
Statistical Learning</p>
</li>
<li>
<p>
Clustering and classification</p>
</li>
<li>
<p>
Data mining and knowledge discovery</p>
</li>
<li>
<p>
Big data storage, replication, and consistency</p>
</li>
</ul>
</td>
    </tr>
</tbody>
</table>	
	



{% endblock %}
<!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 3000 //changes the speed
    })
    </script>

